@use '@carbon/react/scss/colors';
@use '@carbon/react/scss/spacing' as *;
@use '@carbon/react/scss/type' as *;

// overriding header tooltip bg color
// because the navigation is dark themed while the content is white
// which means the dark theme tooltip bg blends into the white content bg
.cds--header__global .cds--popover-content {
  background-color: colors.$gray-20;
}

.cds--header__global .cds--popover-caret {
  background-color: colors.$gray-20;
}

.tabs-group-content {
  padding: $spacing-10 0 $spacing-10 $spacing-06;
  @include landing-page-background;
}

.landing-page__subheading {
  @include type-style('productive-heading-03');

  font-weight: 600;
}
